PORT=3000
SUPABASE_URL=https://lzhtkqfrwducnbabsuuk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6aHRrcWZyd2R1Y25iYWJzdXVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0ODk4NzEsImV4cCI6MjA4ODA2NTg3MX0.umwCPoLe9rdvtQukMK1Uy00s6awiKlCsFbCzho3z-cs
FIREFLIES_API_KEY=your-global-fireflies-key-if-needed
